<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>-->


<body>
<nav th:replace="fragments :: navigation"></nav>

<h3>Register an Account</h3>

<div class="container body-content">

    <form th:object="${user}" method="post">

        <div class="form-group" th:classappend="${#fields.hasErrors('name') ? 'has-error' : ''}" >
            <label th:for="name">Name</label>
            <input type="text" class="form-control" th:field="*{name}"/>
            <span th:errors="*{name}"></span>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('email') ? 'has-error' : ''}" >
            <label th:for="email">Email</label>
            <input type="text" class="form-control" th:field="*{email}"/>
            <span th:errors="*{email}"></span>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('password') ? 'has-error' : ''}" >
            <label th:for="password">Password</label>
            <input type="password" class="form-control" th:field="*{password}"/>
            <span th:errors="*{password}"></span>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('verifyPassword') ? 'has-error' : ''}" >
            <label th:for="verifyPassword">Verify Password</label>
            <input type="password" class="form-control" th:field="*{verifyPassword}"/>
            <span th:errors="*{verifyPassword}"></span>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('allergyName') ? 'has-error' : ''}" >
            <label th:for="allergyName">Allergy Name</label>
            <input type="text" class="form-control" th:field="*{allergyName}"/>
            <span th:errors="*{allergyName}"></span>
        </div>

        <input type="submit" value="Add User" />
    </form>

</div>

</body>
</html>