<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">

    <title>Allergies | Review Restaurants </title>


</head>
<body>
<header>
    <nav th:replace="fragments :: navigation"></nav>
    <a href="/post/add">Add Review</a> |
    <!--    container is  class bc will be, other wise would have been id -->
    <div class="container">
        <div id="branding">
            <h1>Allergies - helping you take back control of your life, one review at a time</h1>
            <h3 th:text="${name}">Food Allergies are no joke!</h3>
        </div>


        <!--            <ul>-->
        <!--                <li><a href="index.html"> Home </a> </li>-->
        <!--                <li><a href="Hello.html"> Hello </a> </li>-->
        <!--                <li><a href="Hello.html"> Hello </a></li>-->
        <!--            </ul>-->

    </div>
</header>
<div>
    <p th:text="Hello + ' ' +${name}"></p>
</div>

<section id="showcase">
    <div class="container">
        <h1>Allergies</h1>
        <p>
            I remember when I first discovered my life-threatening food allergies. It was a challenging and frightening time. Restaurants weren't able to accommodate or answer all my questions, which led to many near-death experiences. Maybe you can relate. I hope that by writing and reviewing other people's experiences with restaurants will help you find what works best for you.
        </p>
    </div>
</section>

</body>
</html>