<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>   <!--This will adjust view based on the device; desktop; mobile,etc-->

    <title>Allergies | Review Restaurants and Keep Track of Your Allergies</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="img/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto"></ul> <!--Will push the navigation to the right side-->
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
        </div>
    </div>
</nav>

<header>
    <nav class="general">
        <a href="/post">Home</a> |
        <a href="/user">User</a>
    </nav>
</header>
<h1>

</h1>
</body>
</html>